#目录
**/mvnw/
**/test/


# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.pdf
*.mp3
*.MP3
*.mp4
*.MP4
*.tar.gz
*.rar
*.cmd
**/target/**
**/.mvn/**
.idea/**
/target/**
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
